section#AboutMe {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section#AboutMe>article#special {
    width: 80vw;
    flex-grow: 3;
}

section#AboutMe>article {
    border-radius: 15px;
    background-color: rgb(48, 15, 32);
    margin: 20px;
    padding: 10px;
}