section#presentacion {
    margin: 0px;
    padding: 0px;
    height: 550px;
    /*     background-image: url("../../images/Unwtitled.jpg");
 */
    background-size: 550px;
}

section#presentacion>article {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

section#presentacion>article>article:first-child {
    width: 40%;
    /*     background-color: rgba(0, 255, 255, 0.281);
 */
}

section#presentacion>article>article:last-child {
    width: 60%;
    /*     background-color: rgba(0, 0, 255, 0.253);
 */
}




@media only screen and (max-width:540px) {}