section#presentacion {
    margin: 0px;
    padding: 0px;
    height: 550px;
    background-size: 550px;
}

section#presentacion>article {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

section#presentacion>article>article:first-child {
    width: 40%;
}

section#presentacion>article>article:last-child {
    width: 60%;
}

@media only screen and (max-width:540px) {}