.carousel {
    margin: 0;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    background-color: #2196F3;
    border-radius: 50%;
}

#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}