section#AboutMe {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

section#AboutMe>article {

    border-radius: 15px;
    background-color: rgb(48, 15, 32);
    padding: 10px;
}