section:not(#menu){
    margin: 0;
}
/**
 * @author GabrielHDZ
 * @version 1.0
 presentation
 */
section#home {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 550px;
    background-size: 550px;
}
section#home>article {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
section#home>article>article#image {
    width: 60%;
}
section#home>article>article#name {
    width: 40%;
}
/**
 * @author GabrielHDZ
 * @version 1.0
 About Me
 */
section#about_me {
    width: 100%;
    margin: 0px;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section#about_me>article {
    background-color: var(--primary-200);
    border-radius: 15px;
    margin: 5%;
    padding: 2% 6%;
    width: 80vw;
    flex-grow: 3;
} 

/**
 * @author GabrielHDZ
 * @version 1.0
 Projects
 */
 #portfolio {
    position: relative;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel-nav {
    margin: 10px;
    width: 100%;
    height: 50px;
    justify-content: center;
    bottom: 10px;
}
input[type="radio"] {
    display: none;
}
div.carousel-nav label {
    background-color: black;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50%;
}
#slide1:checked~.slides {
    transform: translateX(0);
}
#slide2:checked~.slides {
    transform: translateX(-100%);
}
/**
 * @author GabrielHDZ
 * @version 1.0
 Contact
 */
section#contact {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

