aside#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: rgba(0,0,0,1);
    border-radius: 15px;
    margin: 25px;
    transform: scale(0);
    transform-origin: top left;
    &.visible {
        transform: scale(1);
        transition: transform 200ms ease-in-out;
    }
    & .item {
        margin: 20px;
        padding: 8px, 10px;
        cursor: pointer;
        border-radius: inherit;
        &:hover {
            background-color: var(--primary-300);
        }
        & span {
            color: var(--bg-300);
        }
    }
}
