#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: rgba(54, 13, 35, 1);
    border-radius: 15px;
    margin: 25px;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item {
    margin: 20px;
    padding: 8px, 10px;

    color: antiquewhite;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover {
    background-color: #343434;
}