section.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin: 0px 0 0px;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

header {
    width: 20%;
    margin: 5px;
}

header h1 {
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

@media (prefers-color-scheme: light) {
    div.menu {
        background-color: #ece5e5a9;
    }

    div.menu span {
        color: rgb(5, 5, 5);
    }
}

@media (prefers-color-scheme: dark) {
    div.menu {
        background-color: #000000;
    }

    div.menu span {
        color: rgb(255, 255, 255);
    }
}