@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;

        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 24%, rgba(54, 13, 35, 1) 75%);
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: whitesmoke;
    }

    body {
        color: black;
        background: #a0a8a7;
    }
}