@import url(./cssModules/navbar.css);
@import url(./cssModules/themes.css);
@import url(./cssModules/body.css);
@import url(./cssModules/contextmenu.css);

html,
body {
    margin: 0 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}


.carousel {
    margin: 0 20px;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    background-color: #2196F3;
    border-radius: 50%;
}

#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}