@import url(./cssModules/navbar.css);
@import url(./cssModules/themes.css);
@import url(./cssModules/body.css);

html,
body {
    margin: 0 0 0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

* {
    box-sizing: border-box;
}

/* div#glow {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
} */


@media only screen and (max-width:540px) {
    nav span {
        display: none;
    }

    section#presentacion {
        margin: 0px 20px 0;
    }

    section#proyectos {
        margin: 10px;
        padding: 0;
    }

    section#proyectos>article {
        margin: 10px;
        padding: 15px;
    }
}